.skill {
  padding-block: 50px;
  background: linear-gradient(to bottom, #37004b, #460060);
  flex-direction: column;

  .skills {
    background-color: #171616bb;
    box-shadow: 5px 5px 5px #000000;
    padding-block: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    .skill-box {
      position: relative;
      background-color: rgba(171, 171, 171, 0.79);
      height: 140px;
      width: 190px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px;

      .skill-card {
        position: absolute;
        top: 12px;
        width: 80px;
        height: 80px;

        img {
          height: 100%;
          width: 100%;
        }
      }
      .skill-text {
        position: absolute;
        bottom: 12px;
        color: #232323e9;
      }
      &:hover {
        box-shadow: 2px 2px 10px #ffffff;
        transform: scale(0.9);
      }
    }
  }
  &:hover {
    background: linear-gradient(to bottom, #50006d, #530071);
  }
}

@media screen and (max-width: 768px) {
  .skill {
    .skills {
      transform: scale(0.9);
      margin: 0px;

      .skill-box {
        height: 125px;
        width: 160px;
        .skill-card {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .skill {
    padding-block: 40px;

    .skills {
      transform: scale(0.9);

      .skill-box {
        height: 115px;
        width: 145px;
        margin: 10px;
      }
    }
  }
}
